<style> 

@import url('https://fonts.googleapis.com/css2?family=Square+Peg&family=Tajawal:wght@400;700&display=swap');

* {
    font-family: 'Tajawal', sans-serif;
}

main {
    display: grid;
    grid-template-columns: 3fr 1fr;
    column-gap: 2rem;
}

h1 {
    color: orangered;
}

div {
    background-color: aqua;
}
button {
    max-width: 140px;
    margin: 5px;
    border: 1px solid darkgreen;
    border-radius: 0.5px;
} 

td {
    border: 1px solid black;
}

.main_nav {
    background-color: orange;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
}

.main_nav a {
    padding-left: 0.8rem;
}

.containerAllProducts {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin: 0.5rem;
    
}

.containerProduct {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    background: rgb(8, 116, 35);
    max-width: 3000px;
    margin: 0.3rem;
    padding: 0.8rem;
    border: 1px solid darkgreen;
    border-radius: 10px;
    
}

.containerProductDetails {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 2rem;
}

.container_basket {
    display: grid;
    grid-template-columns: 2fr 1fr 1fr 1fr;
    column-gap: 2rem;
}

.container_order_items {
    display: flex 
}

.order_items_list {
    flex-direction: column;
}

.image {
    max-width: 60px;
    max-height: 110px;
}
.image_details {
    float: left;
    max-width: 300px;
    max-height: 500px;
}

.dashboard_section {
    border: 2px solid black;
}

.ellipsis {
    max-width: 200px;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

.table_border {
    color: blueviolet;
}

#main_nav {
    background-color: orange;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
}

#main_nav a {
    padding-left: 0.8rem;
}

#login_area {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: flex-end;

}

#main_subtitle {
    font-family: 'Square Peg', cursive;
}

#login_area span {
    padding-right: 0.8rem;
    padding-bottom: 0.5rem;
}

#basket_button {
    font-size: 2rem;
}

#button_add_product {
    width: 500px;
}

</style>